.caracteristicas{
    margin-top: 140px;
    margin-bottom: 100px;

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .lado-a{
        border-radius: 5px;
        overflow: hidden; /* oculta el contenido que se desborda en las imagenes para q no ocupen si no su espacio  */ 
        width: 100%;
        height: 100%;
        position: relative; /* ponemos relative por que las imagenes deben ir encima de esta caja padre y va aestar fija en el hijo se pone adsolute */ 

        .thumb{
            width: 100%;
            position: absolute;
            opacity: 0;
            vertical-align: top; /* para eliminar un pequeñp espaciado que tiene las imagenes */
            transition: 0.9s ease all; 

             &.active{
            opacity: 1;
            }
         }
    }

       
    
   
}