.footer{
    background: var(--azul-secundario);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        display: flex;
        flex-direction: column;
        gap: 20px;

        img{
            width: 20vw;
            max-width: 100px;
        }
    }

    .links{
        display: flex;
        gap: 20px;
        flex-wrap: wrap; /* para q cuando sea resposivo los links se pongan en fila */ 

        a{
            color: #fff;
        }
       
    }

}